!!! 5
html(lang="en")
  head
    title Sliding Puzzle
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Satisfy", type="text/css")
    link(rel="stylesheet", href="style/puzzle.css", type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(src="vendor/underscore-min.js")
    script(src="src/shared.js")
    script(src="src/grid.js")
    script(src="src/solver.js")
    script(src="src/puzzle.js")
  body
    #puzzle
    script
      var puzzle = new Puzzle($('#puzzle'))
